BASE_URL=
OPENROUTER_API_KEY=
DATABASE_URL=
REDIS_URL=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
JWT_SECRET=
WEAVIATE_HTTP_HOST=
WEAVIATE_GRPC_HOST=
WEAVIATE_HTTP_PORT=
WEAVIATE_GRPC_PORT=